<section class="page page-matches page-matches-show">
    <h1 class="page-title">Match</h1>

    <div class="overview clearfix">
        <div class="blue">
            <img src="http://dev.nexientchampionshipseries.com/img/logo_180.png" alt="Test 1">
            <div class="team-name">
                <img src="http://dev.nexientchampionshipseries.com/uploads/countries/eu.png">
                {{match.opponents[0].participant.name}}
            </div>
            <div class="result">
                <span ng-if="match.opponents[0].result"
                        ng-class="(match.opponents[0].result == 1) ? 'victory' : 'defeat'">{{matchResult[match.opponents[0].result]}}</span>
            </div>

        </div>
        <div class="mid">
            <span class="blue-draw"><span class="draw">{{match.opponents[0].score}}</span>:<span class="draw">{{match.opponents[1].score}}</span></span>
        </div>
        <div class="red">
            <img src="http://dev.nexientchampionshipseries.com/theme/no_opponent.jpg" alt="Test 2">
            <div class="team-name">
                {{match.opponents[1].participant.name}}
            </div>
            <div class="result">
                <span ng-if="match.opponents[1].result"
                      ng-class="(match.opponents[1].result == 1) ? 'victory' : 'defeat'">{{matchResult[match.opponents[1].result]}}</span>
            </div>
        </div>
    </div>
    <div class="details">
        <table class="table horizontal">
            <tbody>
            <!--<tr>-->
                <!--<th>Date</th>-->
                <!--<td>2015-11-14 00:41:19 - Closed</td>-->
            <!--</tr>-->
            <tr>
                <th>Game</th>
                <td>League of Legends</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{matchFormats[match.match_format]}}</td>
            </tr>
            <!--<tr>-->
                <!--<th>Tournament</th>-->
                <!--<td>-->
                    <!--Test Tourny-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1</th>-->
                <!--<td></td>-->
            <!--</tr>-->

            </tbody>
        </table>
    </div>

    <div class="scores clearfix">
        <div class="item">
            <span>Summoner's Rift: :</span>
            <img src="http://dev.nexientchampionshipseries.com/uploads/maps/14_image.jpg" alt="Summoner's Rift">

        </div>
    </div>


    <div id="comments" data-foreign-type="matches" data-foreign-id="2">


    </div>

    <!--<div class="comments-login-info well">To write a comment, <a href="http://dev.nexientchampionshipseries.com/auth/login">login</a> or <a href="http://dev.nexientchampionshipseries.com/auth/registration/create">register</a>.</div>-->
    <div class="comments-login-info well">Comments are currently disabled.</div>

</section>