.page-matches .overview > div {
  width: 33%;
  text-align: center;
  float: left;
}
.page-matches .overview img {
  max-width: 120px;
  max-height: 120px;
}

.page-matches .overview .result {
  font-size: 1.2em;
}

.page-matches .overview .result .victory {
  color: #00ff4e;
}

.page-matches .overview .result .defeat {
  color: #ff4000;
}
.page-matches .overview .mid {
  padding-top: 40px;
  font-size: 30px;
}
.page-matches .overview .mid .left-win {
  color: #008000;
}
.page-matches .overview .mid .left-defeat {
  color: #ff0000;
}
.page-matches .overview .mid .left-draw {
  color: #ffa500;
}
.page-matches .details {
  margin-bottom: 20px;
  padding-top: 20px;
}
.page-matches div.scores {
  /* Will only affect the 4th, 5th etc. item */
}
.page-matches div.scores .item {
  width: 33%;
  margin: 0 auto;
  text-align: center;
}
.page-matches div.scores .item:nth-child(n+4) {
  margin-top: 20px;
}
.page-matches div.scores .item img {
  max-width: 100%;
}
.page-matches div.scores .item span {
  display: block;
}
@media (max-width: 480px) {
  .page-matches .overview img {
    max-width: 80px;
    max-height: 80px;
  }
}
.widget-matches-featured li, .widget-matches-latest li {
  position: relative;
}
.widget-matches-featured li a, .widget-matches-latest li a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;

}

.widget-matches-latest li a .winner {
  color: #00ff4e;
}

.widget-matches-latest li a .loser {
  color: #ff4000;
}

.widget-matches-latest li img {
  margin-right: 10px;
  vertical-align: -9px;
}
.widget-matches-latest li .scores {
  position: absolute;
  right: 10px;
  top: 0px;
}
.widget-matches-latest li .scores .left-win {
  color: #00ff4e;
}
.widget-matches-latest li .scores .left-defeat {
  color: #ff4000;
}
.widget-matches-latest li .scores .left-draw {
  color: #ffa800;
}