
.scroller {
  overflow-x: hidden;
}
.scroller li {
  width: 100%;
}
.create-comment {
  margin-top: 20px;
}
.create-comment .textarea-wrapper {
  margin: 20px 0px;
  padding: 0px 20px;
}
.create-comment p {
  margin: 0px;
}
.create-comment textarea {
  width: 100%;
  height: 70px;
  margin-left: -20px;
  padding: 10px 20px;
  border: 2px solid silver;
  color: #666;
}
.create-comment textarea:focus {
  border-color: #ff6100;
}
.comments-login-info {
  margin-top: 10px;
}
/*
 * Modules
 */
.widget-partners a {
  display: block;
  text-align: center;
}
.widget-partners img.filter {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: all 0.8s ease;
}
.widget-partners img.filter:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  transition: all 0.2s ease;
}

.page-videos .video {
  float: left;
  width: 33%;
  margin-bottom: 10px;
  text-align: center;
}
.page-videos .video div {
  width: 90%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-videos .video-player iframe {
  width: 100%;
  border: none;
}
@media (max-width: 480px) {
  .page-videos .video {
    width: 100%;
  }
}
.widget-videos img.cover {
  max-width: 100%;
}
.page-streams .stream {
  float: left;
  width: 33%;
  margin-bottom: 10px;
  text-align: center;
}
.page-streams .stream div {
  width: 90%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ddd;
}
.page-streams .stream-player iframe {
  width: 100%;
  border: none;
}
@media (max-width: 480px) {
  .page-streams .stream {
    width: 100%;
  }
}
.widget-streams li {
  height: 80px;
}
.widget-streams a {
  display: block;
  position: relative;
}
.widget-streams a:hover div {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
  transition: all 0.3s ease;
}
.widget-streams .image {
  display: inline-block;
  height: 60px;
  width: 100px;
  float: left;
  margin: 10px 10px 0px 0px;
  background-size: cover;
}
.widget-streams .title {
  clear: right;
  font-weight: bold;
  text-transform: uppercase;
}
.widget-streams .viewers {
  display: block;
  line-height: 20px;
}
.page-galleries .galleries .item {
  float: left;
  display: block;
  width: 20%;
  height: 100px;
  overflow: hidden;
}
.page-galleries .galleries .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.page-galleries .galleries .image:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease;
}
@media (max-width: 480px) {
  .page-galleries .galleries .item {
    width: 33%;
  }
}
.page-galleries .images .image {
  text-align: center;
}
.page-galleries .images .image img {
  max-width: 100%;
  max-height: 500px;
  cursor: zoom-in;
}
.page-galleries .images .previews-wrapper {
  position: relative;
  height: 100px;
  overflow: hidden;
}
.page-galleries .images .previews {
  height: 100%;
}
.page-galleries .images .previews .item {
  float: left;
  display: block;
  width: 100px;
  height: 100%;
  overflow: hidden;
}
.page-galleries .images .previews .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.page-galleries .images .previews .image:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease;
}
.page-galleries .images .previews-wrapper .link {
  opacity: 0.5;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 50px;
  line-height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}
.page-galleries .images .previews-wrapper:hover .link {
  opacity: 1;
}
.page-galleries .images .previews-wrapper .to-left {
  left: 0px;
}
.page-galleries .images .previews-wrapper .to-right {
  right: 0px;
}
.widget-galleries li {
  width: 20%;
  height: 100px;
}
.widget-galleries .item {
  display: block;
  width: 100%;
  height: 100%;
}
.widget-galleries .item div {
  width: 100%;
  height: 100%;
}
.page-downloads .downloadcats .downloadcat {
  display: block;
  float: left;
  width: 100px;
  margin: 0px 20px 20px 20px;
  text-align: center;
}
.page-downloads .downloads .download {
  display: block;
  float: left;
  width: 100px;
  margin: 0px 20px 20px 20px;
  text-align: center;
  background: url('../theme/file.png');
  background-position: center top;
  background-repeat: no-repeat;
}
.page-downloads .downloads .download a {
  display: block;
  padding-top: 100px;
  background-position: center 20px;
  background-repeat: no-repeat;
}
.page-matches .overview > div {
  width: 33%;
  text-align: center;
  float: left;
}
.page-matches .overview img {
  max-width: 120px;
  max-height: 120px;
}
.page-matches .overview .mid {
  padding-top: 40px;
  font-size: 30px;
}
.page-matches .overview .mid .left-win {
  color: #008000;
}
.page-matches .overview .mid .left-defeat {
  color: #ff0000;
}
.page-matches .overview .mid .left-draw {
  color: #ffa500;
}
.page-matches .details {
  margin-bottom: 20px;
  padding-top: 20px;
}
.page-matches div.scores {
  /* Will only affect the 4th, 5th etc. item */
}
.page-matches div.scores .item {
  width: 33%;
  float: left;
  text-align: center;
}
.page-matches div.scores .item:nth-child(n+4) {
  margin-top: 20px;
}
.page-matches div.scores .item img {
  max-width: 100%;
}
.page-matches div.scores .item span {
  display: block;
}
@media (max-width: 480px) {
  .page-matches .overview img {
    max-width: 80px;
    max-height: 80px;
  }
}
.widget-matches-latest li {
  position: relative;
}
.widget-matches-latest li a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
.widget-matches-latest li img {
  margin-right: 10px;
  vertical-align: -9px;
}
.widget-matches-latest li .scores {
  position: absolute;
  right: 10px;
  top: 0px;
}
.widget-matches-latest li .scores .left-win {
  color: #00ff4e;
}
.widget-matches-latest li .scores .left-defeat {
  color: #ff4000;
}
.widget-matches-latest li .scores .left-draw {
  color: #ffa800;
}
.page-servers .server {
  margin-bottom: 20px;
}
.page-forums h1 a,
.page-threads h1 a {
  color: white;
}
/* Forums index page */
.page-forums-index .action {
  border-radius: 3px;
  background-color: #00afff;
  color: #ffffff;
}
.page-forums-index .root-forum {
  margin-top: 20px;
}
.page-forums-index .root-forum h2 {
  margin: 0px;
  padding: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #00afff;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
.page-forums-index .sub-forums:before,
.page-forums-index .sub-forums:after {
  content: " ";
  display: table;
}
.page-forums-index .sub-forums:after {
  clear: both;
}
.page-forums-index .sub-forums:before,
.page-forums-index .sub-forums:after {
  content: " ";
  display: table;
}
.page-forums-index .sub-forums:after {
  clear: both;
}
.page-forums-index .sub-forum {
  padding: 10px;
  border: 2px solid #00afff;
  border-top: none;
  overflow: hidden;
}
.page-forums-index .sub-forum.head {
  padding: 10px;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #00afff;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
.page-forums-index .sub-forum .info {
  width: 55%;
  float: left;
}
.page-forums-index .sub-forum .info .desc {
  display: block;
  font-size: 10px;
}
.page-forums-index .sub-forum .counter {
  width: 20%;
  float: left;
}
.page-forums-index .sub-forum .latest {
  width: 25%;
  float: left;
}
.page-forums-index .sub-forum .latest .meta {
  display: block;
  font-size: 10px;
}
@media (max-width: 500px) {
  .page-forums-index .sub-forum .counter {
    display: none;
  }
}
.page-forums-show-forum .buttons,
.page-forums-show-new-threads .buttons {
  margin-bottom: 20px;
}
.page-forums-show-forum .sub-forums,
.page-forums-show-new-threads .sub-forums {
  margin-bottom: 20px;
}
.page-forums-show-forum .threads:before,
.page-forums-show-new-threads .threads:before,
.page-forums-show-forum .sub-forums:before,
.page-forums-show-new-threads .sub-forums:before,
.page-forums-show-forum .threads:after,
.page-forums-show-new-threads .threads:after,
.page-forums-show-forum .sub-forums:after,
.page-forums-show-new-threads .sub-forums:after {
  content: " ";
  display: table;
}
.page-forums-show-forum .threads:after,
.page-forums-show-new-threads .threads:after,
.page-forums-show-forum .sub-forums:after,
.page-forums-show-new-threads .sub-forums:after {
  clear: both;
}
.page-forums-show-forum .threads:before,
.page-forums-show-new-threads .threads:before,
.page-forums-show-forum .sub-forums:before,
.page-forums-show-new-threads .sub-forums:before,
.page-forums-show-forum .threads:after,
.page-forums-show-new-threads .threads:after,
.page-forums-show-forum .sub-forums:after,
.page-forums-show-new-threads .sub-forums:after {
  content: " ";
  display: table;
}
.page-forums-show-forum .threads:after,
.page-forums-show-new-threads .threads:after,
.page-forums-show-forum .sub-forums:after,
.page-forums-show-new-threads .sub-forums:after {
  clear: both;
}
.page-forums-show-forum .threads .thread,
.page-forums-show-new-threads .threads .thread,
.page-forums-show-forum .sub-forums .thread,
.page-forums-show-new-threads .sub-forums .thread,
.page-forums-show-forum .threads .sub-forum,
.page-forums-show-new-threads .threads .sub-forum,
.page-forums-show-forum .sub-forums .sub-forum,
.page-forums-show-new-threads .sub-forums .sub-forum {
  padding: 10px;
  border: 2px solid #00afff;
  border-top: none;
  overflow: hidden;
}
.page-forums-show-forum .threads .thread.head,
.page-forums-show-new-threads .threads .thread.head,
.page-forums-show-forum .sub-forums .thread.head,
.page-forums-show-new-threads .sub-forums .thread.head,
.page-forums-show-forum .threads .sub-forum.head,
.page-forums-show-new-threads .threads .sub-forum.head,
.page-forums-show-forum .sub-forums .sub-forum.head,
.page-forums-show-new-threads .sub-forums .sub-forum.head {
  padding: 10px;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #00afff;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
.page-forums-show-forum .threads .thread .info,
.page-forums-show-new-threads .threads .thread .info,
.page-forums-show-forum .sub-forums .thread .info,
.page-forums-show-new-threads .sub-forums .thread .info,
.page-forums-show-forum .threads .sub-forum .info,
.page-forums-show-new-threads .threads .sub-forum .info,
.page-forums-show-forum .sub-forums .sub-forum .info,
.page-forums-show-new-threads .sub-forums .sub-forum .info {
  width: 60%;
  float: left;
}
.page-forums-show-forum .threads .thread .info .sticky,
.page-forums-show-new-threads .threads .thread .info .sticky,
.page-forums-show-forum .sub-forums .thread .info .sticky,
.page-forums-show-new-threads .sub-forums .thread .info .sticky,
.page-forums-show-forum .threads .sub-forum .info .sticky,
.page-forums-show-new-threads .threads .sub-forum .info .sticky,
.page-forums-show-forum .sub-forums .sub-forum .info .sticky,
.page-forums-show-new-threads .sub-forums .sub-forum .info .sticky,
.page-forums-show-forum .threads .thread .info .closed,
.page-forums-show-new-threads .threads .thread .info .closed,
.page-forums-show-forum .sub-forums .thread .info .closed,
.page-forums-show-new-threads .sub-forums .thread .info .closed,
.page-forums-show-forum .threads .sub-forum .info .closed,
.page-forums-show-new-threads .threads .sub-forum .info .closed,
.page-forums-show-forum .sub-forums .sub-forum .info .closed,
.page-forums-show-new-threads .sub-forums .sub-forum .info .closed {
  padding: 2px;
  border-radius: 3px;
  background-color: #00afff;
  font-size: 10px;
  color: white;
}
.page-forums-show-forum .threads .thread .info .meta,
.page-forums-show-new-threads .threads .thread .info .meta,
.page-forums-show-forum .sub-forums .thread .info .meta,
.page-forums-show-new-threads .sub-forums .thread .info .meta,
.page-forums-show-forum .threads .sub-forum .info .meta,
.page-forums-show-new-threads .threads .sub-forum .info .meta,
.page-forums-show-forum .sub-forums .sub-forum .info .meta,
.page-forums-show-new-threads .sub-forums .sub-forum .info .meta {
  display: block;
  font-size: 10px;
}
.page-forums-show-forum .threads .thread .counter,
.page-forums-show-new-threads .threads .thread .counter,
.page-forums-show-forum .sub-forums .thread .counter,
.page-forums-show-new-threads .sub-forums .thread .counter,
.page-forums-show-forum .threads .sub-forum .counter,
.page-forums-show-new-threads .threads .sub-forum .counter,
.page-forums-show-forum .sub-forums .sub-forum .counter,
.page-forums-show-new-threads .sub-forums .sub-forum .counter {
  width: 15%;
  float: left;
}
.page-forums-show-forum .threads .thread .latest,
.page-forums-show-new-threads .threads .thread .latest,
.page-forums-show-forum .sub-forums .thread .latest,
.page-forums-show-new-threads .sub-forums .thread .latest,
.page-forums-show-forum .threads .sub-forum .latest,
.page-forums-show-new-threads .threads .sub-forum .latest,
.page-forums-show-forum .sub-forums .sub-forum .latest,
.page-forums-show-new-threads .sub-forums .sub-forum .latest {
  width: 25%;
  float: left;
}
.page-forums-show-forum .threads .thread .latest .meta,
.page-forums-show-new-threads .threads .thread .latest .meta,
.page-forums-show-forum .sub-forums .thread .latest .meta,
.page-forums-show-new-threads .sub-forums .thread .latest .meta,
.page-forums-show-forum .threads .sub-forum .latest .meta,
.page-forums-show-new-threads .threads .sub-forum .latest .meta,
.page-forums-show-forum .sub-forums .sub-forum .latest .meta,
.page-forums-show-new-threads .sub-forums .sub-forum .latest .meta {
  display: block;
  font-size: 10px;
}
@media (max-width: 500px) {
  .page-forums-show-forum .threads .counter,
  .page-forums-show-new-threads .threads .counter,
  .page-forums-show-forum .sub-forums .counter,
  .page-forums-show-new-threads .sub-forums .counter {
    display: none;
  }
  .page-forums-show-forum .threads .latest a,
  .page-forums-show-new-threads .threads .latest a,
  .page-forums-show-forum .sub-forums .latest a,
  .page-forums-show-new-threads .sub-forums .latest a {
    display: block;
    font-size: 10px;
  }
}
.page-threads .buttons,
.page-posts .buttons {
  margin-bottom: 20px;
}
.page-threads .post,
.page-posts .post {
  position: relative;
  margin-bottom: 10px;
  border: 2px solid #00afff;
}
.page-threads .post:before,
.page-posts .post:before,
.page-threads .post:after,
.page-posts .post:after {
  content: " ";
  display: table;
}
.page-threads .post:after,
.page-posts .post:after {
  clear: both;
}
.page-threads .post:before,
.page-posts .post:before,
.page-threads .post:after,
.page-posts .post:after {
  content: " ";
  display: table;
}
.page-threads .post:after,
.page-posts .post:after {
  clear: both;
}
.page-threads .post .meta,
.page-posts .post .meta {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 100%;
  min-height: 135px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #202427;
  float: left;
}
.page-threads .post .meta .creator-name,
.page-posts .post .meta .creator-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.page-threads .post .meta .avatar,
.page-posts .post .meta .avatar {
  display: block;
}
.page-threads .post .meta .counter,
.page-posts .post .meta .counter {
  display: block;
}
.page-threads .post .content,
.page-posts .post .content {
  margin-left: 120px;
  min-height: 155px;
}
.page-threads .post .content .top-bar,
.page-posts .post .content .top-bar {
  position: relative;
  padding: 10px;
}
.page-threads .post .content .top-bar .buttons,
.page-posts .post .content .top-bar .buttons {
  position: absolute;
  right: 10px;
  top: 10px;
}
.page-threads .post .content .text,
.page-posts .post .content .text {
  padding: 10px;
  word-wrap: break-word;
  overflow-x: hidden;
}
.page-threads .post .content .text img,
.page-posts .post .content .text img {
  max-width: 100%;
}
.page-threads .post .content .text hr,
.page-posts .post .content .text hr {
  border-color: #00afff;
}
.page-threads .post .content .text .signature,
.page-posts .post .content .text .signature {
  padding-top: 10px;
}
.page-threads .post .content .updated,
.page-posts .post .content .updated {
  padding: 10px;
  font-size: 10px;
  text-align: right;
}
.page-threads .post.highlight,
.page-posts .post.highlight {
  animation-name: posthighlight;
  animation-duration: 3s;
}
.page-threads .post:hover .top-bar .buttons,
.page-posts .post:hover .top-bar .buttons {
  display: block !important;
}
@media (max-width: 500px) {
  .page-threads .buttons a,
  .page-posts .buttons a {
    margin-bottom: 10px;
  }
  .page-threads .post .meta,
  .page-posts .post .meta {
    position: relative;
    width: auto;
    min-height: 0;
    float: none;
  }
  .page-threads .post .meta .avatar,
  .page-posts .post .meta .avatar {
    float: right;
    max-width: 16px;
    max-height: 16px;
  }
  .page-threads .post .content,
  .page-posts .post .content {
    margin-left: 0px;
    min-height: 0;
  }
  .page-threads .post .content .buttons,
  .page-posts .post .content .buttons {
    position: relative !important;
    right: auto !important;
  }
}
@keyframes posthighlight {
  0% {
    border-color: #00afff;
  }
  100% {
    border-color: #00afff;
  }
}
.page-threads.page-forums-threads-new .action {
  border-radius: 3px;
  background-color: #00afff;
  color: #ffffff;
}
.page-threads.page-forums-threads-new .root-forum {
  margin-top: 20px;
}
.page-threads.page-forums-threads-new .root-forum h2 {
  margin: 0px;
  padding: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #00afff;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
.page-threads.page-forums-threads-new .sub-forums:before,
.page-threads.page-forums-threads-new .sub-forums:after {
  content: " ";
  display: table;
}
.page-threads.page-forums-threads-new .sub-forums:after {
  clear: both;
}
.page-threads.page-forums-threads-new .sub-forums:before,
.page-threads.page-forums-threads-new .sub-forums:after {
  content: " ";
  display: table;
}
.page-threads.page-forums-threads-new .sub-forums:after {
  clear: both;
}
.page-threads.page-forums-threads-new .sub-forum {
  padding: 10px;
  border: 2px solid #00afff;
  border-top: none;
  overflow: hidden;
}
.page-threads.page-forums-threads-new .sub-forum.head {
  padding: 10px;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #00afff;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
.page-threads.page-forums-threads-new .sub-forum .info {
  width: 55%;
  float: left;
}
.page-threads.page-forums-threads-new .sub-forum .info .desc {
  display: block;
  font-size: 10px;
}
.page-threads.page-forums-threads-new .sub-forum .counter {
  width: 20%;
  float: left;
}
.page-threads.page-forums-threads-new .sub-forum .latest {
  width: 25%;
  float: left;
}
.page-threads.page-forums-threads-new .sub-forum .latest .meta {
  display: block;
  font-size: 10px;
}
.widget-latest-threads li {
  position: relative;
}
.widget-latest-threads li .posts-count {
  position: absolute;
  right: 0px;
  top: 0px;
}
.page-users-show th {
  width: 40%;
}
.page-users-show .profile-basics {
  margin-bottom: 20px;
}
.page-users-show .details {
  text-align: center;
}
.page-users-show .details img {
  max-width: 180px;
  max-height: 240px;
}
.page-users-show .details .actions {
  margin-top: 20px;
}
.page-friends:before,
.page-friends:after {
  content: " ";
  display: table;
}
.page-friends:after {
  clear: both;
}
.page-friends:before,
.page-friends:after {
  content: " ";
  display: table;
}
.page-friends:after {
  clear: both;
}
.page-friends .friend {
  float: left;
  box-sizing: border-box;
  width: 20%;
  margin-bottom: 20px;
  padding: 0px 20px;
  text-align: center;
}
.page-friends .friend img {
  max-width: 100%;
  max-height: 240px;
}
.page-friends .friend .name {
  display: block;
  margin-top: 10px;
}
.page-friends .friend .actions {
  margin-top: 20px;
}
@media (max-width: 480px) {
  .page-friends .friend {
    width: 33%;
  }
}
.page-messages .message-text {
  word-wrap: break-word;
  overflow-x: hidden;
}
.page-messages .message-text img {
  max-width: 100%;
}
.page-events-calendar .day-names div {
  width: 14.28571429%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-events-calendar .day {
  float: left;
  width: 14.28571429%;
  height: 100px;
  overflow-y: auto;
}
.page-events-calendar .day a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-events-calendar .day.before-month,
.page-events-calendar .day.after-month {
  cursor: pointer;
}
.page-events-calendar .day.today {
  border: 1px solid #00afff;
}
.widget-navigation-default .list-unstyled li.item-level-0 {
  padding-left: 20px;
}
.widget-navigation-default .list-unstyled li.item-level-1 {
  padding-left: 40px;
}
.widget-navigation-default .list-unstyled li.item-level-2 {
  padding-left: 60px;
}
.widget-navigation-default .list-unstyled li.item-level-3 {
  padding-left: 80px;
}
.widget-navigation-default .list-unstyled li.item-level-4 {
  padding-left: 100px;
}
.widget-teams img {
  max-width: 100%;
}
.page-auth-login form {
  position: relative;
}
.page-auth-login .btn-restore {
  position: absolute;
  bottom: 20px;
  right: 40px;
}