.team-navigation {
  background-color: $secondaryColor-lighter;
  border-top: 1px solid #373e43;
  border-bottom: 4px solid #171a1c;
}
.team-navigation ul {
  margin: 10px 0px;
}
.team-navigation a {
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.team-navigation li a:before {
  content: ' ';
  display: none;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0px;
  height: 2px;
  background-color: $primaryColor;
}
.team-navigation li a.active:before,
.team-navigation li:hover a:before {
  display: block;
}
.team-navigation li.icon {
  margin-left: 20px;
  color: #373e43;
}
.team-navigation .right {
  position: absolute;
  right: 0px;
  top: 10px;
}
.team-navigation .right a {
  color: #373e43;
}
.team-navigation .right a:hover {
  transform: scale(1.5);
  transition: all 0.08s linear;
}