.page-users-show th {
  width: 40%;
}
.page-users-show .profile-basics {
  margin-bottom: 20px;
}
.page-users-show .details {
  text-align: center;
}
.page-users-show .details img {
  max-width: 180px;
  max-height: 240px;
}
.page-users-show .details .actions {
  margin-top: 20px;
}