.widget-auth-login, .widget-auth-logged-in {
  padding: 25px 0px;
}

.login-widget {
  width: 370px;
  background-color: $secondaryColor-light;
  border: 1px solid $primaryColor;
}
.login-button {
  padding: 0 15px;
}