<div ng-if="!user" class="widget widget-auth-login">
    <span class="btn btn-default dropdown-toggle" ng-click="toggleLogin()">Login</span>
    <ul class="dropdown-menu login-widget">
        <form ng-submit="login(loginUser)">
            <li>
                <div class="form-group ">
                    <label for="login-username" class="col-sm-3 control-label">Username</label>
                    <div class="col-sm-9">
                        <input name="login-username"
                               type="text"
                               id="login-username"
                               ng-model="loginUser.username" />

                    </div>
                </div>
            </li>
            <li>
                <div class="form-group ">
                    <label for="login-password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input name="login-password"
                               type="password"
                               id="login-password"
                               ng-model="loginUser.password" />
                    </div>
                </div>
            </li>
            <li class="login-button"><button type="submit" class="btn btn-default">Login</button></li>
        </form>
    </ul>
    <a class="btn btn-default" ng-href="/register">Register</a>
</div>

<div ng-if="user" class="widget widget-auth-logged-in">
        <ul class="list-inline">
            <li><a href="/profile" class="btn btn-default">Profile</a></li>
            <li><a href="/profile" class="btn btn-default">Edit Profile</a></li>
            <li><a href="/team" class="btn btn-default">My Teams</a></li>
            <li><a href="/messages" class="btn btn-default">Message</a></li>
            <li><a href="/friends" class="btn btn-default">Friends</a></li>
            <!--<li><a href="http://www.nexientchampionshipseries.com/admin" class="btn btn-default">Admin-Backend</a></li>-->
            <li><a href="" ng-click="logout()" class="btn btn-default">Logout</a></li>
        </ul>
    </div>
</div>
