.slider {
  position: relative;
  width: 100%;
  height: 360px;
  /* Height of a single slide */

  .slides {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    ul {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin-left: 0px;

      li {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        padding: 0px;
      }
    }

    a {
      display: block;
      width: 100%;
      height: 361px;
      background-position: center;
      background-size: cover;
      color: transparent;
      font-size: 0px;
    }

    img {
      max-width: 100%;
    }
  }

  .to-left {
    position: absolute;
    left: 20px;
    top: 35%;
    padding: 20px;
    line-height: 35px;
    color: white;
    opacity: 0.2;
    text-align: center;

    &:hover {
      opacity: 1;
    }
  }

  .to-right {
    position: absolute;
    right: 20px;
    top: 35%;
    padding: 20px;
    line-height: 35px;
    color: white;
    opacity: 0.2;
    text-align: center;

    &:hover {
      opacity: 1;
    }
  }

  .buttons {
    position: absolute;
    right: 40px;
    bottom: 40px;

    ul {
      margin-bottom: 0px;
    }

    li {
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin-left: 3px;
      background-color: black;
      color: rgba(255, 255, 255, 0.5);
      opacity: 0.5;
      cursor: pointer;
      text-align: center;

      &.active {
        outline: 1px solid $primaryColor;
        color: white;
      }

      &:hover {
        opacity: 1;
        color: white;
      }
    }
  }

  .container {
    position: relative;
    height: 100%;
  }

  .slide-title {
    position: absolute;
    max-width: calc(100% - 80px) /* 80 = left * 2 */;
    margin: 0px;
    left: 40px;
    bottom: 40px;
    color: white;
    text-shadow: 0px 0px 3px black;
    background-color: rgba(0, 0, 0, 0.7);

    a {
      display: inline-block;
      padding: 20px;
      color: white;
    }
  }

}

@media (max-width: 990px) {
  .slider .buttons {
    display: none;
  }
  .slider h2 {
    font-size: 20px;
  }
}